<div class="container">

    <h2>Login</h2>
  
    <div class="role-btns">
      <button (click)="chooseRole('admin')">Login as Admin</button>
      <button (click)="chooseRole('examiner')">Login as Examiner</button>
    </div>
  
    <div *ngIf="role" class="form">
      <h3>{{ role  }} Login</h3>
  
      <input type="email" placeholder="Email" [(ngModel)]="email">
      <input type="password" placeholder="Password" [(ngModel)]="password">
  
      <button (click)="login()">Submit</button>
    </div>
  
  </div>
  