.container {
    width: 350px;
    margin: 40px auto;
    text-align: center;
  }
  
  .role-btns button {
    margin: 10px;
    padding: 10px 18px;
  }
  
  .form {
    margin-top: 20px;
  }
  
  .form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  